<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>922343831809-drfra1qi6118g3ptveopkndol32ulmaa.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.922343831809-drfra1qi6118g3ptveopkndol32ulmaa</string>
	<key>API_KEY</key>
	<string>AIzaSyBa6sEMKvYggfDQmMIJjBYBoHhMYcgg3TU</string>
	<key>GCM_SENDER_ID</key>
	<string>922343831809</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>pinbolt.com.app</string>
	<key>PROJECT_ID</key>
	<string>boltconcierge-2f0f9</string>
	<key>STORAGE_BUCKET</key>
	<string>boltconcierge-2f0f9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:922343831809:ios:c7f1d81e570db39a</string>
	<key>DATABASE_URL</key>
	<string>https://boltconcierge-2f0f9.firebaseio.com</string>
</dict>
</plist>